@import "tailwindcss";



.primary_bg_color  {
  @apply bg-[#1E1E1E]
}

.primary_text_color {
  @apply text-gray-300
}





.form_error {
  @apply text-base capitalize mb-2 text-red-700;
}

.form_section input {
  @apply w-full pl-10 pr-3 py-3 rounded-lg border border-gray-600 bg-[#1E1E1E] text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-cyan-500 mb-4 mt-2
}

